
/* line 54, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item {
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ebf2fa;
  text-align: center;
}

@media (max-width: 991px) {
  /* line 58, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
  .single_product_item svg {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 58, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
  .single_product_item svg {
    width: 100%;
  }
}

/* line 66, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text {
  padding: 32px 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 71, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 14px;
}

/* line 77, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text h3 {
  font-weight: 300;
  font-size: 18px;
}

/* line 82, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text a {
  color: #427aa1;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 93, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item .single_product_text a i {
  float: right;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

/* line 102, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
}

/* line 105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item:hover .single_product_text {
  padding: 32px 32px;
}

/* line 109, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product_list.scss */
.single_product_item:hover a {
  opacity: 1;
  visibility: visible;
}


/***************** product list css *******************/
/* line 3, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item {
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 7, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text {
  padding: 35px 0 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 11, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 14px;
}

/* line 16, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text h3 {
  font-weight: 300;
  font-size: 18px;
}

/* line 20, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text a {
  color: #ff3368;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 30, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item .single_product_text a i {
  float: right;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

/* line 38, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover {
  box-shadow: none;
}

/* line 40, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover .single_product_text {
  padding: 32px 0 0;
}

/* line 44, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_best_seller.scss */
.best_seller .single_product_item:hover a {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 576px) {
  /* line 382, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar .single_product_menu {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
}

/* line 397, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu p {
  color: #020202;
  font-weight: 500;
}

@media (max-width: 576px) {
  /* line 397, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_top_bar .single_product_menu p {
    font-size: 13px;
    line-height: 13px;
  }
}

/* line 413, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu p span {
  color: #ff3368;
}

/* line 418, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu h5 {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

/* line 425, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .nice-select {
  height: 0;
  border: 0px;
  line-height: 15px;
  font-weight: 300;
  text-transform: capitalize;
}

/* line 432, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .nice-select:after {
  margin-top: 0;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  right: 0px;
}

/* line 440, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation {
  line-height: 15px;
}

/* line 443, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation ul {
  margin-left: 20px;
}

/* line 446, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .top_pageniation ul li {
  display: inline-block;
  margin-left: 10px;
}

/* line 454, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group {
  width: 150px;
}

/* line 457, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group .form-control {
  border: 0px solid transparent;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  text-align: center;
  text-transform: capitalize;
}

/* line 465, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_top_bar .single_product_menu .input-group .input-group-text {
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 1px solid #ddd;
}


/* my own button*/
.box-button {
  border: 1px solid #1a202c;
  color: #1a202c;
  padding: 8px 0px;
  text-align: center;
  margin: 5px 5px;
  width: 90%;
  font-size: 1.2rem;
}

.box-button:hover {
  background-color: #1a202c;
  color: white;
}

.box-button:hover .icon-svg {
  fill: white !important;
}

.icon-svg {
  fill: #1a202c;
}


/* line 441, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_elements.scss */
.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}